//META{"name":"D.Ace Theme","description":"One Piece Discord theme","author":"꧁༒☬Sôma☬༒꧂#0570","version":"2.0"}*//{}

@import url(https://raw.githack.com/002Alone/BetterDiscordTheme/master/Transparency2.css);
@import url(https://rawcdn.githack.com/002Alone/BetterDiscordTheme/9029b21c42e3676d59e10fa126e389ea3555ef0f/Code.css);
:root {
	/* background URL */ /* default url https://i.imgur.com/piL8fUj.jpg */
	--background-image: url(https://i.imgur.com/A1tHC24.jpg) center/cover no-repeat;
	/* Guild and Top bar transparency */
	--transparency-1: linear-gradient(to left, rgba(0,0,0,0.65), rgba(0,0,0,0.85));
	/* transparency for channels and private channels */
	--transparency-2: linear-gradient(to right, rgba(0,0,0,0.85), rgba(0,0,0,0.65));
	/* chat and top area and other secondary pages */
	--transparency-3: linear-gradient(to right, rgba(0,0,0,0.65), rgba(0,0,0,0.55));
	/* member list */
	--transparency-4: linear-gradient(to right, rgba(0,0,0,0.55), rgba(0,0,0,0.65));
	/* transparecy with gradient of top bar */
	--transparency-5: linear-gradient(to right, rgba(0,0,0,0.85), rgba(0,0,0,0.75),rgba(0,0,0,0.65), rgba(0,0,0,0.62), rgba(0,0,0,0.60),rgba(0,0,0,0.55), rgba(0,0,0,0.55));
/* ---------------------------------------------------------------- */
	--cfix-opacity: 0.65;
	--themeColor1:#f7cf3c;
	--themeColor2:#471b1a;
	--size-light: 15px;
	--color-light: #cf4a21;
	--prfil-user-opacity: 0.5;
	--color-stream: #fff;
	
}
/* ---------------------------------------------------------------- */
/* Actual code -- Dont touch unless you know what you're doing.*/

.base-3dtUhz .sidebar-2K8pFh  {
    background-color: rgba(0,0,0,var(--cfix-opacity));
}

.sidebar-2K8pFh .container-3w7J-x {
    background-color: transparent;
}

.sidebar-2K8pFh .clickable-25tGDB .header-2V-4Sw:hover,
.sidebar-2K8pFh .selected-31Nl7x .header-2V-4Sw {
    background-color: rgba(0,0,0,calc(var(--cfix-opacity)/2));
}
/* ---------------------------------------------------------------- */
.theme-dark .container-3baos1, .theme-light .container-3baos1 { /* PROFIL EN BAS A GAUCHE */
    background: var(--transparency-100);
}
/* ---------------------------------------------------------------- */
.privateChannels-1nO12o { /* MESSAGES PRIVÉS */
    background: transparent !important;
    background-image: var(--transparency-100);
}
/* ---------------------------------------------------------------- */
.image-1GzsFd { /* TAILLE WUMPUS */
    background-size: none;
}
/* ---------------------------------------------------------------- */
.theme-dark .text-GwUZgS, .theme-dark .title-2BxgL2 { /* CHANGER LA COULEUR DE TEXTE D'AMIS (EN ATTENTE/BLOQUÉ) WUMPUS */
    color: none;
}
/* ---------------------------------------------------------------- */
.theme-dark .container-1D34oG { /* BACKGROUND AMIS */
	background-color: rgba(0,0,0,var(--cfix-opacity));
}
/* ---------------------------------------------------------------- */
.stickyScroller-24zUyY { /* BACKGROUND BIBLIOTHÈQUE */
	background-color: rgba(0,0,0,var(--cfix-opacity));
}
/* ---------------------------------------------------------------- */
.colorStreamerMode-2SJAUN { /* MODE STREAM AVEC OPACITÉ */
background-color: rgba(0,0,0,var(--cfix-opacity));
    color: var(--color-stream);
}
.theme-dark .button-2DhvE9, .theme-light .button-2DhvE9 {
background-color: rgba(0,0,0,0.2);
}
/* ---------------------------------------------------------------- */
.icon-2aINcz, .text-2e2ZyG { /* MESSAGES NON LUS */
    display: block;
}
.unread-1xRYoj { 
    background-color: var(--background-accent);
    opacity: .9;
}
.unreadBottom-1_LF_w {
    bottom: 0;
}
.unread-15xhX5 {
    left: 0;
    right: 0;
}
.container-35XQWE {
    position: absolute;
    z-index: 2;
    overflow: hidden;
    padding: 8px;
    height: 24px;
    pointer-events: none;
}
.unread-1xRYoj {
    background-color: rgba(0,0,0,0.15);
    opacity: .9;
}
.bar-30k2ka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #fff;
    height: 24px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 12px;
    pointer-events: auto;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.24);
    box-shadow: 0 2px 6px rgba(0,0,0,.24);
    -webkit-app-region: no-drag;
}
.bar-30k2ka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #fff;
    height: 24px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 12px;
    pointer-events: auto;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.24);
    box-shadow: 0 2px 6px rgba(0,0,0,.24);
    -webkit-app-region: no-drag;
}
.container-35XQWE {
    position: absolute;
    z-index: 2;
    overflow: hidden;
    padding: 8px;
    height: 24px;
    pointer-events: none;
} 
/* ---------------------------------------------------------------- */
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 { /* PROFILE USERS */
    background-color: rgba(0,0,0,var(--prfil-user-opacity));
    color: hsla(0,0%,100%,.8);
}
.theme-dark .headerNormal-T_seeN {
    background-color: rgba(0,0,0,var(--prfil-user-opacity));
}
/* ---------------------------------------------------------------- */
.header-2BwW8b { /* PROFILE BOTS */
    color: #fff;
    line-height: 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: rgba(0,0,0,var(--prfil-user-opacity));
}
/* ---------------------------------------------------------------- */
.modeMuted-onO3r- .icon-1DeIlz, .modeMuted-onO3r- .name-23GUGE { /* CHANNELS MUETS */
    color: rgba(0,0,0,.2);
}
/* ---------------------------------------------------------------- */
.drawerSizingWrapper-17Mss4 { /* PANNEL EMOJIS */
	background-color: rgba(0,0,0,0.3);
}
.inspector-3LQtX9 {
	background-color: rgba(0,0,0,0);
}
/* ---------------------------------------------------------------- */
.theme-dark .uploadModal-2ifh8j { /* ENVOYER FICHIER OU IMAGE */
	background-color: rgba(0,0,0,0.5);
}
.theme-dark .footer-3mqk7D {
	background-color: rgba(0,0,0,0);
}
/* ---------------------------------------------------------------- */
.hljs-comment, .hljs-quote { /* TEXTE CSS */
	color: rgba(0,0,0,0.9);
}
/* ---------------------------------------------------------------- */
.scrollableContainer-2NUZem { /* LUMIERE ENVOYER UN MESSAGE */
	filter: drop-shadow(0 0 var(--size-light) var(--color-light));
}
/* ---------------------------------------------------------------- */
.membersGroup-v9BXpm { /* BARRE MEMBRES */
	position:relative;
	z-index:2;
	padding:19px 8px 5px 16px;
	text-align:center;
	letter-spacing:1px;
	color:#e6e6e6;
	border-bottom-width:2px;
	border-style:solid;
	border-image:linear-gradient(to right,transparent,var(--themeColor1),var(--themeColor2),transparent) 1;
}
.membersGroup-v9BXpm::after,.membersGroup-v9BXpm::before {
	content:"";
	position:absolute;
	width:50%;
	height:100%;
	top:0;
	background-color:
	transparent;
	z-index:-1
}
.membersGroup-v9BXpm::before {
	left:0;
	box-shadow:80px 50px 30px 0 var(--themeColor2);
}
.membersGroup-v9BXpm::after {
	right:0;
	box-shadow:-80px 50px 30px 0 var(--themeColor1);
}
.membersGroup-v9BXpm span {
	text-shadow:0 1px 5px #000;
}
.theme-dark .membersGroup-v9BXpm {
	box-shadow: 0 0px 0 rgba(0,0,0,.3);
}
/* ---------------------------------------------------------------- */
.button-14-BFJ { /* Button paramètres, vocal, micro */
	filter: drop-shadow(0 0 5px black);
}
/* ---------------------------------------------------------------- */
.mainContent-2h-GEV:before { /* couleur catégories */
    background-color: var(--color-light);
    opacity: 0.2;
    border-radius: 15px;
}
/* ---------------------------------------------------------------- */
#app-mount .wrapper-2jXpOf.modeSelected-346R90:before { /* couleur channel serveur */
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 4px;
    background: var(--color-light);
    z-index: 1;
}
/* ---------------------------------------------------------------- */
.container-3XJ8ns { /* Ajout rôles aux membres */
    background-color: black;
}
